REACT_APP_TMDB_API_KEY='your-tmdb-api-key'
REACT_APP_TMDB_BASE_URL=https://api.themoviedb.org/3
REACT_APP_TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p/w500
REACT_APP_TMDB_HEADER_IMAGE_BASE_URL=https://image.tmdb.org/t/p/original
REACT_APP_VIDEO_BASE_URL=https://www.youtube.com/embed